  .App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
}

/* NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR */
.nav-container{
  display: flex;
  height: 50px;
  width: 90vw;
  position: fixed;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.first-width{
  background: #ffffff;
  margin: 0px;
  width: 33.3%;
  height: 50px;
  font-size: 1rem;
}
.first-width ul {
  display: flex;
  justify-content: flex-start;
}

.first-width ul li{
margin-right: 10px;
}
.helper-wrap{
  width: 33.3%;
  height: 50px;
  background-color: #ffffff;
}

.logoicon{
  margin-left: auto;
  margin-right: auto;
  display: block;

}
.second-width{
  background: #ffffff;
  width: 33.4%; 
  height: 50px;
}

.second-width ul{
  display: flex;
justify-content: flex-end;
}

.social-icons{
  width: 25px;
  height: 25px;
  padding-right: 10px;
}


/* MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - */
.main-container{
  width: 90vw;
}
.hero-image-container{
  width: 90vw;
  height: 80vh;
}
.hero-image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner{
  width: 90vw;
  height: 25vh;
  background-color: rgba(6, 96, 58, 100);
  display: flex;
  align-items: center;
  
}

.banner p {
  color: white;
  margin: 0;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  font-size:1.5rem;
}

/*CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - */

.content{ 
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px; 
  justify-content: center;
  margin-bottom: 5%;
}
.cell{
  margin: auto;
  height: 46vh;
  width: 35vw;
  /* justify-content: center; */
}
.cell p {
  color: #000000;
  /* line-height: 2; */
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem;
}

.content-image{ 
  height: 100%;
  width: 100%;
  object-fit: fill;
  margin-top: 5%;
  /* margin: auto; */
  
}

.cell-1 {
  margin-right: 1%;
}
.cell-2 {
  margin-left: 1%;
}
.cell-3 {
  margin-right: 1%;
}
.cell-4 {
  margin-left: 1%;
  margin-top: 10%;
}

.cell-1 span{
  color: rgba(6, 96, 58, 100);
  /* font-weight: 800; */
  font-size: 3rem;
}

/* PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO */
/* .productsInfoPage{
  height: 82vh;
  width: 90vw;
  background: #000000;
} */
.products-info{
  background: rgba(237, 235, 235, 100);
  height: 75vh;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  text-align:center;
  margin: 0 auto;
  align-content: center;  
  margin-bottom: 3em;
}

.fourth-width{
background: #ffffff;
  margin-top: 4.5%;
  width: 20vw; 
  height: 58vh;
}

.products-image{
  height: 50vh;
  width: 20vw; 

}

.fourth-width p {
  text-align: center;
}

.content-image{
  object-fit: fill;
}

/* CONTACT - CONTACT - CONTACT - CONTACT - CONTACT - CONTACT */
.contact{
height: 70vh;
width: 90vw;
}
.contact h1{
text-align: center;
}
.content-wrapper{
  height: 60vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.location-map{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.third-width{
margin-right: 5px;
width: 25vw;
height: 45vh;
}

.contact-helper{
  margin: 5px;
  display: inline-block;
  width: 20vw;
}

.contact-images{
  margin: 10px;
}

.contact-icon{
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.contact-helper h3{
  color:rgba(6, 96, 58, 100);
}


/* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - */
.footer{
  background: rgba(6, 96, 58, 100);
  height: 10vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons{
  width: 25px;
  height: 25px;
  padding-right: 10px;
}



























