  .App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

/* NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR */
.nav-container{
  background: purple;
  display: flex;
  height: 50px;
  width: 90vw;
  position: fixed;
  align-items: center;
}

li{
  list-style: none;
}

.first-width{
  background: yellow;
  display: inline;
  margin: 0;
  width: 33.3%;
  height: 50px;
}
.first-width ul {
  display: flex;
  justify-content: space-around;
  padding-right: 33px;
}
.logo{
  justify-items: center;
  width: 33.3%;
  height: 50px;

}

.second-width{
  background: brown;
  display: inline;
  margin: 0;
  width: 33.3%; 
  height: 50px;

}

.second-width ul{
  display: flex;
}

.social-icons{
  width: 25px;
  height: 25px;
  padding-right: 10px;
}


/* MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - */
.main-container{
  width: 90vw;
}
.hero-image-container{
  width: 90vw;
  height: 80vh;
}
.hero-image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner{
  width: 90vw;
  height: 25vh;
  background-color: rgba(6, 96, 58, 100);
  display: flex;
  align-items: center;
  
}

.banner p {
  color: white;
  margin: 0;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  font-size:1.5rem;
}

/*CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - */

/* .content{
  width: 90vw;
  height: 100vh;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.content-image{
width: 35%;
height: 85%;
}
.content-text{
  justify-content: center;
  display: block;
  width: 35%;
  height: 55%;
}

.content-text p{
text-align: center;
font-size: 1rem;
line-height: 2;
margin-left: auto;
margin-right: auto;
width: 25vw;
}
.exercising-picture{
  width: 100%;
  height: 100%;
} */

.content{ 
  background-color: beige;
  width: 90vw;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px; 
  align-content: center;
}
.cell{
  background-color: lightseagreen;
  margin: auto;
  height: 46vh;
  width: 35vw;
}
.cell p {
  color: white;
  line-height: 2;
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem;
}

.content-image{ 
  height: 40vh;
  width: 30vw;
  background: pink;
  object-fit: fill;
}

.cell-1 {

}
.cell-2 {

}
.cell-3 {

}
.cell-4 {

}


/* PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO */
.products-info{
  background: rgba(237, 235, 235, 100);
  height: 75vh;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  text-align:center;
}

.fourth-width{
  background:white;
  width: 20vw; 
  height: 58vh;
}

.products-image{
  height: 50vh;
  width: 20vw; 
}

.fourth-width p {
  text-align: center;
}

.content-image{
  object-fit: fill;
}

/* CONTACT - CONTACT - CONTACT - CONTACT - CONTACT - CONTACT */
.contact-section{
  background: gray;
  height: 600px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.location-map{
  width: 21vw;
  height: 45vh;
}

.third-width{
background: rosybrown;
width: 25vw;
height: 60vh;
text-align: center;
}

/* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - */
.Footer{
  background: rgba(6, 96, 58, 100);
  height: 10vh;
  width: 90vw;
  display: flex;
}

.footer-icons{
  width: 25px;
  height: 25px;
  padding-right: 10px;
}



























