  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Vidaloka', serif;
    /* background-color: rgba(243, 242, 242); */
    background-color: tan;
  }

  /* NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR */

  /* NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR */

  /* NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR */

  .nav-container {
    display: flex;
    height: 50px;
    width: 90vw;
    position: fixed;
    background-color: #F5F6F0;
  }

  li {
    /* font-weight: 900; */
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .first-width {
    background: #ffffff;
    max-width: 33.5%;
    min-width: 33.5%;
    height: 50px;
    font-size: 1rem;
    /* font-size: calc(16px + 1 * ((100vw - 320px) / 680)); */
    /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
  }

  .first-width ul {
    display: flex;
    justify-content: flex-start;
  }

  .first-width ul li {
    margin-right: 20px;
  }

  .helper-wrap {
    width: 33.3%;
    min-width: 33.5%;
    max-width: 33.5%;
    height: 50px;
    background-color: #ffffff;
  }

  .logoicon {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .second-width {
    background: #ffffff;
    width: 33.4%;
    min-width: 33.5%;
    max-width: 33.5%;
    height: 50px;
  }

  .second-width ul {
    display: flex;
    justify-content: flex-end;
  }

  .social-icons {
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }

  /* MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER */

  /* MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER */

  /* MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER - MAINHEADER */

  .main-container {
    width: 90vw;
    height: 100vh;
  }

  .hero-image-container {
    width: 90vw;
    height: 80vh;
  }

  .hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .banner {
    width: 90vw;
    height: 20vh;
    background-color: rgba(6, 96, 58, 100);
    /* background-color: rgb(32, 52, 43); */
    display: flex;
    align-items: center;
  }

  .banner p {
    color: white;
    text-align: center;
    /* padding: 5px; */
    margin: 0 auto;
    /* font-size: calc(12px + 1.5vw); */
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
    font-family: 'Ibarra Real Nova', serif;
  }

  /* CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT */

  /* CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT */

  /* CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT */

  .content {
    width: 90vw;
    height: 60vh;
    display: flex;
  }

  .background-image-content {
    width: 100%;
    height: 100%;
  }

  .back-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .content-text {
    height: 100%;
    width: 100%;
    min-width: 250px;
    background-color: lightsalmon;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1em;
  }

  .content-text h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .content-text p {
    margin-left: 2em;
    margin-right: 3em;
  }

  @media screen and (max-width: 767px) {
    .content-text {
      width: 100%
    }
  }

  @media screen and (max-width: 767px) {
    .back-image {
      width: 100%
    }
  }

  .content-text {
    min-width: 250px;
  }

  .content-text p {
    font-size: calc(16px + 4 * ((100vw - 320px) / 680));
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    min-height: fit-content;
  }

  .content-text h1 {
    color: rgba(6, 96, 58, 100);
    font-family: 'Ibarra Real Nova', serif;
  }

  /* PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO */

  /* PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO */

  /* PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO - PRODUCTSINFO */

  .productsInfoPage {
    width: 90vw;
    height: 80vh;
    background-color: rgb(32, 52, 43);
  }

  .products-info {
    /* background: rgba(237, 235, 235, 100); */
    background-color: #F5F6F0;
    height: 75vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    margin-bottom: 3em;
    font-family: 'Montserrat', sans-serif;
  }

  .fourth-width {
    background: #ffffff;
    min-width: 235px;
    border-radius: 4px;
    margin-top: 4.5%;
    width: 20vw;
    height: 58vh;
  }

  .products-image {
    height: 50vh;
    min-width: 235px;
    width: 20vw;
  }

  .fourth-width p {
    text-align: center;
  }

  .content-image {
    object-fit: fill;
  }

  /* CONTACT - CONTACT - CONTACT - CONTACT - CONTACT - CONTACT */

  /* CONTACT - CONTACT - CONTACT - CONTACT - CONTACT - CONTACT */

  /* CONTACT - CONTACT - CONTACT - CONTACT - CONTACT - CONTACT */

  .contact {
    height: 70vh;
    width: 90vw;
  }

  .contact h1 {
    text-align: left;
    font-family: 'Playfair Display', serif;
  }

  .content-wrapper {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .location-map {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .third-width {
    margin-right: 5px;
    width: 25vw;
    height: 45vh;
  }

  .contact-helper {
    margin: 5px;
    display: inline-block;
    width: 20vw;
  }

  .contact-images {
    margin: 10px;
  }

  .contact-icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }

  .contact-helper h3 {
    color: rgba(6, 96, 58, 100);
  }

  /* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER */

  /* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER */

  /* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER */

  .footer {
    width: 90vw;
    height: 30px;
    display: flex;
  }

  .div-container {
    background-color: rgb(32, 52, 43);
    display: inline;
    text-align: center;
    width: 90vw;
    height: 13vh;
  }

  .footer-icons {
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }

  /* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - */

  /* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - */

  /* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - */